@font-face {
  font-family:"Roboto";
  font-weight:700;
  font-style:normal;
  src:url(../fonts/Robotobold.woff2) format("woff2"),
  url(../fonts/Robotobold.woff) format("woff");
}
@font-face {
  font-family:"Roboto";
  font-weight:400;
  font-style:normal;
  src:url(../fonts/Roboto.woff2) format("woff2"),
  url(../fonts/Roboto.woff) format("woff");
}
h1 {
  font-size: 1.4rem;
}
h2{
  font-size: 1.3rem;
}
h3{
  font-size: 1.2rem;
}
p{
  font-size: 14px;
}
@media (min-width: 576px) {
  h1{
    font-size: 1.7rem;
  }
  h2{
    font-size: 1.4em;
  }
  h3{
    font-size: 1.3rem;
  }
}
@media (min-width: 768px) {
  h1{
    font-size: 1.8rem;
  }
  h2{
    font-size: 1.6em;
  }
  h3{
    font-size: 1.4rem;
  }
  p{
    font-size: 17px;
  }
}

@media (min-width: 992px) {
  h1{
    font-size: 1.9rem;
  }
  h2{
    font-size: 1.8em;
  }
  h3{
    font-size: 1.6rem;
  }
}

@media (min-width: 1200px) {
  h1{
    font-size: 2rem;
  }
  h2{
    font-size: 1.9em;
  }
  h3{
    font-size: 1.7rem;
  }
}
body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 15px;
  line-height: 140%;
  color: $black;
  background-color: $white;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: $white;
  &:hover{
  	text-decoration: none;
		color: darken($white, 40%);
  }
}
